services:
  client:
    build:
      context: .
      dockerfile: docker/client.dev.Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    depends_on:
      - server

  server:
    build:
      context: .
      dockerfile: docker/server.dev.Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env
    environment:
        NODE_ENV: development
        DATABASE_URL: file:./server/db/dev.db
        JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
        JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
        TMDB_API_KEY: ${TMDB_API_KEY}
        TMDB_BEARER_TOKEN: ${TMDB_BEARER_TOKEN}
        CLIENT_URL: ${CLIENT_URL}
